{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
        <h3 class="mb-4">Введите данные пользователя</h3>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="age">Возраст:</label>
                <input type="text" class="form-control" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="city">Город:</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Хобби:</label>
                <input type="text" class="form-control" id="hobby" name="hobby" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить пост</button>
        </form>
        <hr class="my-4">
        <h2 class="mb-4">Список пользователей</h2>
        <div class="row">
            {% for user in users %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="card">
                    <p style="text-align: center"><img src="/static/img/user.png" alt="userphoto" class="card-img-top" style="max-width: 250px"></p>
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }}</h5>
                        <p class="card-text">Возраст: {{ user.age }}</p>
                        <p class="card-text">Город: {{ user.city }}</p>
                        <p class="card-text">Хобби: {{ user.hobby }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}