{% extends 'base.html' %}

{% block content %}

  <div class="container">
        <h1>Введите данные пользвателя</h1>
        #создает форму с методом POST, чтобы отправлять данные из этой формы
        <form method="POST" action="/">
            <div>
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div >
                <label for="age">Текст поста:</label>
                <input id="age" name="age" required>
            </div>
            <div >
                <label for="city">Текст поста:</label>
                <input id="city" name="city" required>
            </div>
            <div >
                <label for="hobby">Текст поста:</label>
                <input id="hobby" name="hobby" required>
            </div>
            <button type="submit" >Отправить пост</button>
        </form>
        <hr>
    #использует цикл for, чтобы иметь возможность публиковать посты
        <h2>Список пользователей</h2>
        <div class="row">
            {% for user in users %}
                #создает отдельный div, внутри которого записываются карточки пользователей
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="/static/user.png" alt="userphoto">
                    <h5>{{ user.name }}</h5>
                    <p>{{ user.age }}</p>
                    <p>{{ user.city }}</p>
                    <p>{{ user.hobby }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}